body {
  margin: 0;
  background: url('https://cdnb.artstation.com/p/assets/images/images/014/665/033/original/yargon-kerman-webp-net-gifmaker-39.gif?1544919451');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  height:100vh;
  background-color: black;
  overflow-y:hidden;
  overflow-x:hidden;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  
}

.todo-list {
  font-family: "Space Mono", monospace;
  padding: 0rem;
  min-width: 400px;
  min-height: 300px;
}

.title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 2.3rem;
  font-family: "BioRhyme", serif;
  text-align: center;
  color: #0fcfd0;
  margin-top: 0;
}

.form {
  display: flex;
  justify-content: center;
}

.form-input {
  outline: none;
  background-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0 10px;
}

.form-button {
  outline: none;
  border: none;
  background: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.75rem;
  font-size: 0.75rem;
  margin-left: 0.25rem;
  border-radius: 20px
}

.form-button:hover {
  font-weight: bold;
  font-style: italic;
  color: #F6F1D1;
  background-color: rgba(255, 255, 255, 0.3);
  
}

.todo-list {

  font-family: "Space Mono", monospace;
  padding: 0rem;
  min-width: 400px;
  min-height: 300px;
  background-color: rgba(184, 14, 251, 0.8);
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black
}

.form {
  display: flex;
  justify-content: center;
}

.list {
  padding: 0;
  list-style: none;
  width: 100%;
}

.task {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem 0.8rem;
}

.check-button {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 20px;
  
}

.delete-button {

  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  outline: none;
  cursor: pointer;
  margin-right: 0px;
  border-radius: 20px;

}

.delete-button:hover {

  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: #F6F1D1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px
}

.check-button:hover {
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: #F6F1D1;
  background-color: rgba(255, 255, 255, 0.3);

}

.task.done .check-button {
  background-color: #46494C;
  color: #F6F1D1;
}

.check-icon {
  display: block;
  padding: 1px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
}

.task.done .check-icon {
  background-color: #0B2027;
}

.content {
  margin: 0;
}

.task.done .content {
  text-decoration: line-through;
}
